.banner-interno__fondo
  background-image: url(../assets/curso/interno.png) !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white  
.etiqueta
  padding: 1px 2px 2px 3px
  font-weight: 800
  margin-right: 0px
italic
  font-style: oblique  
italic-strong
  font-style: oblique 
  font-weight: bold
figcaption, table caption
  font-weight: 500  


.bloque-fondo-intro
  background-image: url(../assets/curso/fondo-intro.png)
  background-repeat: no-repeat
  background-size: contain
  background-position: bottom 
.bloque-fondo-tema
  background-image: url(../assets/curso/fondo-tema.png)
  background-repeat: no-repeat
  background-size: contain
  background-position: bottom 
.bg-componente
  background-image: url(../assets/curso/bg-componente.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: bottom   
.bg-componente2
  background-image: url(../assets/curso/bg-componente2.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: bottom    

.bg-gris
  background-color: #EDE8FF
.bg-primario2
  background-color: #c3eff6
.bg-secundario  
  background-color: #592FE6
.bg-secundario2
  background-color: #ab96f2    
.bg-acento-botones2
  background-color: #ffebe1
.bg-acento-botones3
  background-color: #f0c0a9
.bg-acento-botones4
  background-color: #FFD1A2
.bg-acento-contenido
  background-color: #FF5151 

.bloque-texto-b i
  font-size: 2em
.bloque-texto-b i:last-of-type
  float: right
.bloque-texto-b .text-right
  display: flex
  flex-direction: row
  justify-content: flex-end


.img-infografica-b.color-acento-botones .img-infografica-b__item__dot:before
  border: 4px solid #FF5151
  background-color: #FF9B6A
.img-infografica__item__tooltip, .img-infografica-b__item__tooltip
  background-color: #FF9B6A
.img-infografica-b__modal
  background-color: rgba(255, 155, 106, 0.9)


.tarjeta-flip.color-acento-botones .tarjeta-flip__img
  background-color: #f0c0a9
.tarjeta-flip__img, .tarjeta-flip__contenido
  display: flex
  flex-direction: column
  justify-content: center
.tarjeta-flip__img img  
  width: 260px
  margin: 0 auto
.tarjeta-flip.color-acento-botones .tarjeta-flip__contenido
  background-color: #c3eff6  
.tarjeta-flip__contenido p, .tarjeta-flip__contenido h5
  color: $color-sistema-texto !important


.bloque-texto-a.color-secundario.tema4
  background-color: #88E0EF
.bloque-texto-b.color-primario:before
  background-color: #e4f3ff


.tabs-a__tab
  background-color: #88E0EF


.cajon.color-acento-contenido
  background-color: #ffcaca


.lista-ul--color.circulo-vacio li > i:first-of-type
  color: #FF5151
  font-size: 12px
  padding-top: 2px
.lista-ul--color.tabla li > i:first-of-type
  color: #FF5151
  font-size: 8px
  padding-top: 3px
.lista-ul--color.check-tabla li > i:first-of-type
  font-size: 21px
.tabla-b.color-acento-botones .tabla-b__header.top-borde
  border-top: 10px solid #FF5151
.tabla-b tr:nth-child(even), .tabla-c tr:nth-child(even)
  background-color: #edfafc
.tabla-b th
  border: 0px
.tabla-b td
  border: 1px solid #AFAFAF  
.tabla-b .tabla-b__header .th1
  width: 18%
.tabla-b .tabla-b__header .th3, .tabla-b .tabla-b__header .th4
  width: 18%
.tabla-b .tabla-b__header .th5, .tabla-b .tabla-b__header .th6
  width: 6%




.slyder__btn 
  background-color: #FF5151
.slyder__btn i
  color: #FFF
.slyder__btn:hover 
  background-color: #FF9B6A
.slyder__btn:hover i
  color: $color-sistema-texto


.texto-resaltado .bg-acento-contenido
  border-radius: 50px


.tarjeta-numerada
  border-radius: 0px
  margin-left: 0px
.tarjeta-numerada.color-acento-contenido
  border-color: transparent
  background-color: #88E0EF
.tarjeta-numerada__numero
  border-radius: 0px
  width: 40px
  height: 40px
  top: -2px
  left: 18px
.tarjeta-numerada img
  margin: 0 auto
  width: 220px
  height: 150px



// TARJETA DISPLAY TEMA 1
.tarjeta-display
  position: relative
  &__content
    display: block
.tarjeta-display .content-tarjeta
  display: none
.tarjeta-display__content.bg-secundario2:hover
  background-color: #c3eff6
.tarjeta-display__content.bg-secundario2:hover .content-tarjeta
  display: inherit
  

// TARJETA DISPLAY TEMA 4-1
.tema4-1 .tarjeta
  border-radius: 0px
  width: 100%
.tarjeta-avatar .tarjeta
  height: auto  
.tema4-1 .tarjeta.tarjeta__content .texto-content-display
  display: none
.tema4-1 .tarjeta:hover
  background-color: #592FE6
.tema4-1 .tarjeta.tarjeta__content:hover h3, .tema4-1 .tarjeta.tarjeta__content:hover .texto-content-display p 
  color: #FFF !important
.tema4-1 .tarjeta.tarjeta__content:hover .texto-content-display
  display: inherit
